html {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: olivedrab;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url(one.jpg);
}

.panel2 {
  background-image: url(two.jpg);
}

.panel3 {
  background-image: url(three.jpg);
}

.panel4 {
  background-image: url(four.jpg);
}

.panel5 {
  background-image: url(five.jpg);
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  /* text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); */
  font-size: 1.5em;
}

.panel p:nth-child(2) {
  font-size: 2.5em;
}

.panel.open {
  flex: 3;
  font-size: 28px;
}

@media only screen and (max-width: 1000px) {
  .panel p {
    font-size: 0.8em;
  }

  .panel p:nth-child(2) {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .panels {
    display: flex;
    flex-direction: column;
  }

  .panel > *:first-child {
    transform: translateY(-100vh);
  }
  .panel > *:last-child {
    transform: translateY(100vh);
  }

  .panel p {
    font-size: 1em;
  }

  .panel p:nth-child(2) {
    font-size: 1.5em;
  }
}
